@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-bellefair);
}

p,
button {
  font-family: var(--font-barlow);
}

span,
li,
.title {
  font-family: var(--font-barlow_condensed);
}